.navbar {
  @apply fixed top-0 z-20 w-full bg-gray-900 shadow-lg bg-opacity-[0.98];

  @media (max-width: 1023.9999px) {
    @apply shadow-lg top-0 #{!important};
  }

  &[data-clear='true'] {
    @apply bg-transparent shadow-none #{!important};
  }

  transition: background-color 0.5s ease-in-out, top 0.5s ease-in-out;

  &[aria-hidden='true'] {
    @apply -top-24;
  }
}

.wrapper {
  @apply container flex relative flex-col justify-center items-center py-5 px-8 mx-auto lg:flex-row;
}

.logo-wrapper {
  @apply inline-flex z-10 items-center;

  @screen lg {
    margin-right: 859.8px;
  }
}

.logo {
  @apply w-10 h-10;
}

.nav-link {
  @apply text-base font-semibold tracking-wide text-black text-opacity-95 uppercase whitespace-nowrap transition-colors duration-200 lg:text-sm lg:font-normal lg:text-opacity-100 lg:text-gray-200 lg:hover:text-gray-50;
}

.sm-wrapper {
  @apply flex justify-between w-full lg:justify-center;
}

.links {
  @apply flex overflow-hidden absolute right-0 flex-col items-start p-0 mr-8 space-y-4 max-w-0 max-h-0 bg-white rounded transition-all duration-500 ease-in-out lg:mr-0 lg:right-auto lg:p-0 lg:space-y-0 lg:items-center lg:flex-row lg:space-x-8 lg:bg-transparent lg:rounded-none lg:-mt-8 lg:max-h-[768px] lg:max-w-none;

  top: 60px;

  &[data-toggle='true'] {
    @apply p-6 border max-h-[768px];

    max-width: 100vw;
  }

  @screen lg {
    padding-left: 88px;
  }
}

.menu {
  @apply flex p-0 w-10 h-10 border-transparent border-none cursor-pointer focus:outline-none lg:hidden;
}

.line1,
.line2,
.line3 {
  fill: none;
  stroke: white;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;

  .menu[aria-expanded='true'] & {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
}

.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;

  .menu[aria-expanded='true'] & {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
}

.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;

  .menu[aria-expanded='true'] & {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
}
