.sect {
  @apply mt-2 w-full max-w-full overflow-hidden pt-20;
}

.title {
  @apply mb-16 text-center text-2xl font-semibold text-gray-900 sm:text-3xl;
}

.slider {
  @apply my-8 flex w-max;
  animation: slide 64s linear infinite;
}

.slide {
  @apply px-10;

  img {
    @apply outline-none cursor-default opacity-70 contrast-200 grayscale transition duration-200 hover:opacity-80 hover:filter-none;
    @apply h-10 #{!important};
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
