.sect {
  @apply overflow-hidden pt-24 w-full max-w-full;
}

.title {
  @apply mb-16 text-3xl font-semibold text-center text-gray-900;
}

.slider {
  @apply flex my-8 w-max;
  animation: slide 64s linear infinite;
}

.slide {
  img {
    @apply h-10 opacity-70 transition duration-200 cursor-default outline-none grayscale contrast-200 hover:opacity-80 hover:filter-none;
    @apply mx-10 #{!important};
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
