.wrapper {
  @apply mx-auto flex w-full max-w-6xl flex-col;
}

.list-wrapper {
  @apply mx-auto mb-8 flex w-full max-w-xl justify-center space-x-2 rounded-2xl bg-gray-200 bg-opacity-60 p-1.5 md:space-x-4;
}

.tab {
  @apply relative flex-1 text-center;
}

.tab-link,
.tab-link-active {
  @apply relative block w-full cursor-pointer select-none rounded-xl py-2.5 text-sm font-bold uppercase transition-colors duration-300;
  font-family: 'Open Sans', sans-serif;
  z-index: 1;
}

.tab-link {
  @apply text-gray-600 hover:text-gray-900;
}

.tab-link-active {
  @apply text-white;
}

.active-bg {
  @apply absolute inset-0 rounded-xl shadow-md;
  background-color: #0a2558;
  z-index: -1;
}

.tab-text {
  @apply relative z-10;
}

.tab-content {
  @apply relative w-full;

  [aria-hidden='true'] {
    @apply hidden;
  }
}

.footnote {
  @apply mb-4 text-left text-sm italic text-gray-500;
  font-family: 'Open Sans', sans-serif;
}

.data-layout {
  @apply flex w-full flex-col gap-8;
}

.table-pane {
  @apply w-full;
}

.charts-pane {
  @apply w-full;
}
