.sect {
  @apply text-gray-600;
}

.ctr {
  @apply container px-5 pt-20 mx-auto -mb-4;
}

.title-wrapper {
  @apply flex flex-col mb-12 w-full text-center;
}

.title {
  @apply text-2xl font-semibold text-gray-900 sm:text-3xl;
}

.members {
  @apply flex flex-wrap justify-center -m-2 mx-auto xl:w-4/5;
}

.member {
  @apply p-2 w-full xl:w-1/5 lg:w-1/4 md:w-1/3 sm:w-1/2;
}

.wrapper {
  @apply flex relative flex-col items-center p-4 h-full text-center;
}

.lead {
  @apply mt-8 mb-3 font-semibold text-center first:mt-0;
}

.overlay {
  @apply flex absolute top-4 justify-center items-center p-8 w-24 h-24 bg-black bg-opacity-60 rounded-full opacity-0 transition-all duration-500;

  .wrapper:hover & {
    @apply opacity-100;
  }
}

.image {
  @apply object-cover object-center flex-shrink-0 w-24 h-24 rounded-full;
}

.content {
  @apply flex-grow mt-2;
}

.name {
  @apply font-semibold text-gray-900;
}

.desc {
  @apply text-gray-500;
}
